In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
intakes = pd.read_csv('Austin_Animal_Center_Intakes.csv')
outcomes = pd.read_csv('Austin_Animal_Center_Outcomes.csv')
stray_map = pd.read_csv('Austin_Animal_Center_Stray_Map.csv')

In [3]:
intakes.info()
print()
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124120 entries, 0 to 124119
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124120 non-null  object
 1   Name              85069 non-null   object
 2   DateTime          124120 non-null  object
 3   MonthYear         124120 non-null  object
 4   Found Location    124120 non-null  object
 5   Intake Type       124120 non-null  object
 6   Intake Condition  124120 non-null  object
 7   Animal Type       124120 non-null  object
 8   Sex upon Intake   124119 non-null  object
 9   Age upon Intake   124120 non-null  object
 10  Breed             124120 non-null  object
 11  Color             124120 non-null  object
dtypes: object(12)
memory usage: 11.4+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124491 entries, 0 to 124490
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124491 non-null  object
 1   Name              85466 non-null   object
 2   DateTime          124491 non-null  object
 3   MonthYear         124491 non-null  object
 4   Date of Birth     124491 non-null  object
 5   Outcome Type      124471 non-null  object
 6   Outcome Subtype   57308 non-null   object
 7   Animal Type       124491 non-null  object
 8   Sex upon Outcome  124490 non-null  object
 9   Age upon Outcome  124486 non-null  object
 10  Breed             124491 non-null  object
 11  Color             124491 non-null  object
dtypes: object(12)
memory usage: 11.4+ MB

In [4]:
# DROP UNNECESSARY COLUMNS
## Name and Found Location are full of errors and not necessary to perform EDA
## MonthYear is the same as DateTime
## Age provides all the useful information that can be derived from Date of Birth
## Animal Type, Breed and Color are dropped here to prevent duplicate columns on merge
intakes = intakes.drop(['Name', 'MonthYear', 'Found Location', 'Animal Type', 'Breed', 'Color'], axis=1)
outcomes = outcomes.drop(['Name', 'MonthYear', 'Date of Birth'], axis=1)

# FILL NA VALUES
## only Sex upon Intake and Sex upon Outcome has unnecessary NA values
intakes = intakes.fillna(value={'Sex upon Intake': 'Unknown'})
outcomes = outcomes.fillna(value={'Sex upon Outcome': 'Unknown'})

# CONVERT DATE OBJECTS TO DATETIME 
intakes['DateTime'] = pd.to_datetime(intakes['DateTime'])
outcomes['DateTime'] = pd.to_datetime(outcomes['DateTime'])

# SORT VALUES
# sorted based on Animal ID and DateTime as these columns compounded identify each unique entry
intakes = intakes.sort_values(by=['Animal ID', 'DateTime'])
outcomes = outcomes.sort_values(by=['Animal ID', 'DateTime'])

# DROP DUPLICATE ENTRIES
intakes = intakes.drop_duplicates(subset=['Animal ID', 'DateTime'])
outcomes = outcomes.drop_duplicates(subset=['Animal ID', 'DateTime'])

display(intakes)
display(outcomes)

,Animal ID,DateTime,Intake Type,Intake Condition,Sex upon Intake,Age upon Intake
84304,A006100,2014-03-07 14:26:00,Public Assist,Normal,Neutered Male,6 years
3993,A006100,2014-12-19 10:21:00,Public Assist,Normal,Neutered Male,7 years
18662,A006100,2017-12-07 14:07:00,Stray,Normal,Neutered Male,10 years
65517,A047759,2014-04-02 15:55:00,Owner Surrender,Normal,Neutered Male,10 years
89109,A134067,2013-11-16 09:02:00,Public Assist,Injured,Neutered Male,16 years
...,...,...,...,...,...,...
124113,A830173,2021-03-03 15:59:00,Stray,Normal,Intact Male,1 year
124102,A830174,2021-03-03 15:59:00,Stray,Normal,Intact Female,1 month
124117,A830180,2021-03-03 16:31:00,Owner Surrender,Normal,Intact Female,9 years
124119,A830181,2021-03-03 16:31:00,Owner Surrender,Normal,Spayed Female,4 years
124116,A830183,2021-03-03 17:12:00,Stray,Medical,Intact Female,1 month

,Animal ID,DateTime,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
107324,A006100,2014-03-08 17:10:00,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
52735,A006100,2014-12-20 16:35:00,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
94523,A006100,2017-12-07 00:00:00,Return to Owner,NaN,Dog,Neutered Male,10 years,Spinone Italiano Mix,Yellow/White
36406,A047759,2014-04-07 15:12:00,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
75922,A134067,2013-11-16 11:54:00,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White
...,...,...,...,...,...,...,...,...,...
124455,A830112,2021-03-02 16:37:00,Euthanasia,Suffering,Dog,Unknown,1 month,Pit Bull,Tan/White
124461,A830114,2021-03-02 17:07:00,Euthanasia,Suffering,Other,Unknown,1 year,Fox,Brown/White
124465,A830138,2021-03-03 10:49:00,Euthanasia,Rabies Risk,Other,Unknown,NaN,Skunk,Black
124475,A830156,2021-03-03 14:46:00,Euthanasia,Rabies Risk,Other,Unknown,NaN,Raccoon,Black
124477,A830164,2021-03-03 14:28:00,NaN,NaN,Dog,Unknown,1 month,Pug Mix,Black/White

In [5]:
intakes.info()
print()
outcomes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124097 entries, 84304 to 124116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124097 non-null  object
 1   DateTime          124097 non-null  datetime64[ns]
 2   Intake Type       124097 non-null  object
 3   Intake Condition  124097 non-null  object
 4   Sex upon Intake   124097 non-null  object
 5   Age upon Intake   124097 non-null  object
dtypes: datetime64[ns](1), object(5)
memory usage: 6.6+ MB

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124474 entries, 107324 to 124477
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124474 non-null  object
 1   DateTime          124474 non-null  datetime64[ns]
 2   Outcome Type      124454 non-null  object
 3   Outcome Subtype   57299 non-null   object
 4   Animal Type       124474 non-null  object
 5   Sex upon Outcome  124474 non-null  object
 6   Age upon Outcome  124469 non-null  object
 7   Breed             124474 non-null  object
 8   Color             124474 non-null  object
dtypes: datetime64[ns](1), object(8)
memory usage: 9.5+ MB

In [6]:
# MERGE INTAKES AND OUTCOMES DATASETS
data = intakes.merge(outcomes, how='outer', on=['Animal ID'], suffixes=('_in', '_out'))
## sort values based on Animal ID, DateTime_in, DateTime_out (prioritised)
data = data.sort_values(by=['Animal ID', 'DateTime_in', 'DateTime_out'])
## drop entries whose outcome date is before intake date
data = data[data['DateTime_out'] >= data['DateTime_in']]
## keep entry with earlist outcome date and drop the rest
data = data.drop_duplicates(subset=['Animal ID', 'DateTime_in'], keep='first')
## entries with no intake or outcome DateTime are also dropped #TODO: refine/justify
## remaining entries should contain all unique intake entries with their corresponding outcome data

display(data)

,Animal ID,DateTime_in,Intake Type,Intake Condition,Sex upon Intake,Age upon Intake,DateTime_out,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A006100,2014-03-07 14:26:00,Public Assist,Normal,Neutered Male,6 years,2014-03-08 17:10:00,Return to Owner,NaN,Dog,Neutered Male,6 years,Spinone Italiano Mix,Yellow/White
4,A006100,2014-12-19 10:21:00,Public Assist,Normal,Neutered Male,7 years,2014-12-20 16:35:00,Return to Owner,NaN,Dog,Neutered Male,7 years,Spinone Italiano Mix,Yellow/White
9,A047759,2014-04-02 15:55:00,Owner Surrender,Normal,Neutered Male,10 years,2014-04-07 15:12:00,Transfer,Partner,Dog,Neutered Male,10 years,Dachshund,Tricolor
10,A134067,2013-11-16 09:02:00,Public Assist,Injured,Neutered Male,16 years,2013-11-16 11:54:00,Return to Owner,NaN,Dog,Neutered Male,16 years,Shetland Sheepdog,Brown/White
11,A141142,2013-11-16 14:46:00,Stray,Aged,Spayed Female,15 years,2013-11-17 11:40:00,Return to Owner,NaN,Dog,Spayed Female,15 years,Labrador Retriever/Pit Bull,Black/White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160739,A830112,2021-03-02 15:48:00,Owner Surrender,Injured,Unknown,1 month,2021-03-02 16:37:00,Euthanasia,Suffering,Dog,Unknown,1 month,Pit Bull,Tan/White
160741,A830114,2021-03-02 16:50:00,Wildlife,Sick,Unknown,1 year,2021-03-02 17:07:00,Euthanasia,Suffering,Other,Unknown,1 year,Fox,Brown/White
160749,A830138,2021-03-03 09:46:00,Wildlife,Injured,Unknown,2 years,2021-03-03 10:49:00,Euthanasia,Rabies Risk,Other,Unknown,NaN,Skunk,Black
160758,A830156,2021-03-03 13:28:00,Wildlife,Sick,Unknown,1 year,2021-03-03 14:46:00,Euthanasia,Rabies Risk,Other,Unknown,NaN,Raccoon,Black
160766,A830164,2021-03-03 14:17:00,Owner Surrender,Normal,Unknown,1 month,2021-03-03 14:28:00,NaN,NaN,Dog,Unknown,1 month,Pug Mix,Black/White

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 123001 entries, 0 to 160766
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         123001 non-null  object
 1   DateTime_in       123001 non-null  datetime64[ns]
 2   Intake Type       123001 non-null  object
 3   Intake Condition  123001 non-null  object
 4   Sex upon Intake   123001 non-null  object
 5   Age upon Intake   123001 non-null  object
 6   DateTime_out      123001 non-null  datetime64[ns]
 7   Outcome Type      122983 non-null  object
 8   Outcome Subtype   56343 non-null   object
 9   Animal Type       123001 non-null  object
 10  Sex upon Outcome  123001 non-null  object
 11  Age upon Outcome  122996 non-null  object
 12  Breed             123001 non-null  object
 13  Color             123001 non-null  object
dtypes: datetime64[ns](2), object(12)
memory usage: 14.1+ MB